In [4]:
import pandas as pd
import numpy as np
dv1=pd.read_csv('Datos Ventas I.csv', header=3)
dv1

,Unnamed: 0,Fecha,Vendedor,Importe IVA Inc. (UYU),Mes,Año,Unnamed: 6,Mes Nro.,Mes Año
0,NaN,01/01/2021,Nicolas Cairus (2),"5.600,09",enero,2021,NaN,1,enero
1,NaN,02/01/2021,Fabian Retamosa (10),"53.307,15",enero,2021,NaN,2,febrero
2,NaN,02/01/2021,Nicolas Cairus (2),"162.738,17",enero,2021,NaN,3,marzo
3,NaN,02/01/2021,Leonardo Pages (20),"58.767,11",enero,2021,NaN,4,abril
4,NaN,02/01/2021,Depósito (50),"18.416,13",enero,2021,NaN,5,mayo
...,...,...,...,...,...,...,...,...,...
9987,NaN,30/06/2025,Nicolas Cairus (2),"67877,55",junio,2025,NaN,NaN,NaN
9988,NaN,30/06/2025,Leonardo Pages (20),"127678,33",junio,2025,NaN,NaN,NaN
9989,NaN,30/06/2025,Hector (3),"112226,65",junio,2025,NaN,NaN,NaN
9990,NaN,30/06/2025,Depósito (50),"66833,6",junio,2025,NaN,NaN,NaN
9991,NaN,30/06/2025,David Sosa (6),"113478,44",junio,2025,NaN,NaN,NaN

In [6]:
dv1=dv1.drop(['Unnamed: 0','Unnamed: 6','Mes Nro.','Mes Año'],axis=1)
dv1

           Fecha              Vendedor Importe IVA Inc. (UYU)    Mes   Año
0     01/01/2021    Nicolas Cairus (2)               5.600,09  enero  2021
1     02/01/2021  Fabian Retamosa (10)              53.307,15  enero  2021
2     02/01/2021    Nicolas Cairus (2)             162.738,17  enero  2021
3     02/01/2021   Leonardo Pages (20)              58.767,11  enero  2021
4     02/01/2021         Depósito (50)              18.416,13  enero  2021
...          ...                   ...                    ...    ...   ...
9987  30/06/2025    Nicolas Cairus (2)               67877,55  junio  2025
9988  30/06/2025   Leonardo Pages (20)              127678,33  junio  2025
9989  30/06/2025            Hector (3)              112226,65  junio  2025
9990  30/06/2025         Depósito (50)                66833,6  junio  2025
9991  30/06/2025        David Sosa (6)              113478,44  junio  2025

[9992 rows x 5 columns]

In [8]:
dv1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9992 entries, 0 to 9991
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Fecha                   9992 non-null   object
 1   Vendedor                9992 non-null   object
 2   Importe IVA Inc. (UYU)  9992 non-null   object
 3   Mes                     9992 non-null   object
 4   Año                     9992 non-null   int64
dtypes: int64(1), object(4)
memory usage: 390.4+ KB

In [ ]:
dv_1=

In [22]:
dv_vm=dv1.groupby(['Año'])['Importe IVA Inc. (UYU)'].sum().reset_index()
dv_vm

    Año                             Importe IVA Inc. (UYU)
0  2021  5.600,0953.307,15162.738,1758.767,1118.416,133...
1  2022  269,10282.185,07184.364,53151.350,05120.992,52...
2  2023  6.290,20273.401,18213.918,67232.270,13122.569,...
3  2024  221.486,33227.460,08221.888,51143.573,63172.36...
4  2025  209.058,11184.221,08267.772,67145.729,77246.30...

In [26]:
dv_vm=dv1.groupby(['Mes'])['Importe IVA Inc. (UYU)'].sum().reset_index()
dv_vm

          Mes                             Importe IVA Inc. (UYU)
0       abril  1.806,92369.817,51237.799,8015.519,29172.267,8...
1      agosto  8.316,99267.470,22249.375,943.933,0056.240,281...
2   diciembre  107.563,22141.899,98105.387,9293.106,93118.329...
3       enero  5.600,0953.307,15162.738,1758.767,1118.416,133...
4     febrero  307.807,13263.230,865.709,7698.780,06150.331,5...
5       julio  328.084,90185.810,464.274,38122.892,52141.557,...
6       junio  -1.174,69113.346,9269.996,8686.507,94247,82165...
7       marzo  342.544,07221.118,631.662,96106.692,95207.519,...
8        mayo  340.516,84219.315,43172.592,03168.116,9712.391...
9   noviembre  348.337,32216.947,359.544,15136.637,63185.627,...
10    octubre  -12.932,37159.763,6031.175,24148.121,94-1.716,...
11  setiembre  60.066,86129.665,67124.316,34114.009,1573.438,...